@charset "utf-8";

// Chosen Colorscheme

$color-pink-main: #F78888;
$color-yellow-main: #F3D250;
$color-white-main: #ECECEC;
$color-green-main: #90CCF4;
$color-blue-main: #5DA2D5;
$color-black-main: #101010;
$color-gray-main: #808080;

// Define defaults for each variable.

$base-font-family: 'Noto Sans', sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       $color-black-main !default;
$background-color: $color-white-main !default;
$brand-color:      darken($color-blue-main, 25%) !default;

$grey-color:       $color-gray-main !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
