@charset "utf-8";

// Chosen Colorscheme

$color-red-main: #D35147;	// Main Primary color */
$color-red-1: #FFAAA3;
$color-red-2: #F57D73;
$color-red-3: #B53126;
$color-red-4: #8F160C;

$color-yellow-main: #D3A747;	// Main Secondary color (1) */
$color-yellow-1: #FFE2A3;
$color-yellow-2: #F5CD73;
$color-yellow-3: #B58926;
$color-yellow-4: #8F670C;

$color-blue-main: #3B4E8F;	// Main Secondary color (2) */
$color-blue-1: #8795C6;
$color-blue-2: #586AA6;
$color-blue-3: #25397A;
$color-blue-4: #132561;

$color-green: #36A149;	// Main Complement color */
$color-green-1: #88D596;
$color-green-2: #58BB6A;
$color-green-3: #1D8A30;
$color-green-4: #0A6E1B;

// Define defaults for each variable.

$base-font-family: 'Noto Sans', sans-serif; !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: $color-blue-1 !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
